In [1]:
import pandas as pd
df = pd.read_csv('adult.data.csv')

In [2]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

## How many people of each race are represented in this dataset?

In [35]:
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

## What is the average age of men?

In [38]:
average_age_men = round(df[df['sex'] == 'Male']['age'].mean(), 1)
average_age_men

39.4

## What is the percentage of people who have a Bachelor's degree?

In [39]:
percentage_bachelors = round(df[df['education'] == 'Bachelors'].shape[0] / df.shape[0] * 100, 1)
percentage_bachelors

16.4

## What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
## What percentage of people without advanced education make more than 50K?|

In [46]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

higher_education_rich = round(higher_education[higher_education['salary'] == '>50K'].shape[0] / higher_education.shape[0] * 100, 1)
lower_education_rich = round(lower_education[lower_education['salary'] == '>50K'].shape[0] / lower_education.shape[0] * 100, 1)

46.5

## ZWhat is the minimum number of hours a person works per week (hours-per-week feature)?

In [ ]:
min_work_hours = df['hours-per-week'].min()

## What percentage of the people who work the minimum number of hours per week have a salary of >50K?

In [49]:
num_min_workers = df[df['hours-per-week'] == min_work_hours]

rich_percentage = round((num_min_workers['salary'] == '>50K').sum() / len(num_min_workers) * 100, 1)
rich_percentage

10.0

## What country has the highest percentage of people that earn >50K?

In [56]:
highest_earning_country_stats = (df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts())
highest_earning_country = highest_earning_country_stats.idxmax()
highest_earning_country_percentage = round(highest_earning_country_stats.max() * 100, 1)
highest_earning_country

'Iran'

## Identify the most popular occupation for those who earn >50K in India.

In [54]:
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'